{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}

  <link rel="stylesheet" href="{% static 'reviews/css/style_create.css' %}">
{% endblock css %}
{% block content %}
  <div class="container">
    <div class="title">
      <p>
        <span class="r_name">
          <b>{{ name }}</b>
        </span>에 대해 어떻게 생각하세요?
      </p>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!--{% bootstrap_form review_form %}-->
      <div class="review_content">{{review_form.content}}</div>
      <select class="form-select" size="3" aria-label="size 3 select example" name="grade" required="required">
        <option selected="selected">맛 평가를 해 주세요~</option>
        <option value="5">맛있어요</option>
        <option value="3">괜찮아요</option>
        <option value="1">별루에요ㅠ</option>
      </select>
      <div class="review_img">
        {{review_form.image}}
        <img src="https://cdn-icons-png.flaticon.com/512/3524/3524388.png" alt="사진 첨부">
      </div>
      <div class="review_buttons">
        <button type="button" class="cancel" onclick="location.href='{% url 'restaurants:detail' restaurant.pk%}'">취소</button>
        <button type="submit" class="confirm">리뷰 올리기</button>
      </div>
    </form>
  </div>
{% endblock content %}
