{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'restaurants/css/style.css' %}">
{% endblock css %}
{% block content %}
  <container>

    <div class="r_info">
      <div class="r_header">
        <h1>{{ restaurant.restaurant_name }}</h1>
        <div class="detailed_info">
          <img src="https://cdn-icons-png.flaticon.com/512/4422/4422191.png" alt="별점">
          <div class="people_views"><img src="https://cdn-icons-png.flaticon.com/512/159/159604.png" alt="조회수 아이콘">
            <p>24,310</p>
          </div>
          <form method="POST" action="{% url 'restaurants:like' restaurant.pk %}">
            <a href="{% url 'reviews:create' restaurant.pk %}"><img src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png" alt="수정 아이콘"></a>
            {% csrf_token %}
            {% if request.user.is_authenticated %}
              {% if request.user in restaurant.like_users.all %}
                <input type="submit" class="btn btn-dark" value="좋아요 취소">
              {% else %}
                <input type="submit" class="btn btn-dark" value="좋아요">
              {% endif %}
            {% else %}
              {% bootstrap_button buton_type="submit" content="로그인이 필요"%}
            {% endif %}
            <span class="mx-3" id="like-count">{{review.like.count}}</span>
          </form>
          <div>
            <button type="button" class="btn btn-dark" onclick="location.href='{% url 'restaurants:update' restaurant.pk %}' ">가게 정보 수정하기</button>
          </div>
        </div>
      </div>
      <table>
        <tr>
          <th>주소</th>
          <td>{{ restaurant.address }}</td>
        </tr>
        <tr>
          <th>전화번호</th>
          <td>{{ restaurant.restaurant_phone_number.as_national }}</td>
        </tr>
        <tr>
          <th>영업시간</th>
          <td>{{ restaurant.Opening_hours }}</td>
        </tr>
        <tr>
          <th>메뉴</th>
          <td>{{ restaurant.menu }}</td>
        </tr>
        <tr>
          <th>가격대</th>
          <td>{{ restaurant.price_avg }}</td>
        </tr>
        <tr>
          <th>주차</th>
          <td>{{ restaurant.parking }}</td>
        </tr>
        <tr>
          <th>휴일</th>
          <td>{{ restaurant.day_off }}</td>
        </tr>
      </table>
    </div>
    <!-- 메뉴사진 -->
    <div class="row row-cols-4 g-3">
      <div class="col text-center"><img src="http://placeimg.com/200/200/nature" alt="" class="img-fluid"></div>
      <div class="col text-center"><img src="http://placeimg.com/200/200/nature" alt="" class="img-fluid"></div>
      <div class="col text-center"><img src="http://placeimg.com/200/200/nature" alt="" class="img-fluid"></div>
      <div class="col text-center"><img src="http://placeimg.com/200/200/nature" alt="" class="img-fluid"></div>
    </div>
    <div class="row justify-content-center" style="background-color:grey;">사진에 마우스를 올려보세요!</div>

    <!-- 리뷰창 -->
    <!-- 개인 리뷰 -->
    {% for review in restaurant.review_set.all %}
      <div class="row justify-content-between p-3" style="background-color:lightgrey; height: 300px;">
        <div class="d-flex justify-content-between p-0 h-auto">
          <div class="d-flex">
            <div class="rounded-pill" style="background-color:yellow">프로필사진</div>
            <div class="rounded-pill" style="background-color:yellow">맛있다</div>
          </div>

          <div class="rounded-pill" style="background-color:yellow">
            {% if review.created_string == False %}
              <td>{{ review.created_string|date:'m월 d일' }}</td>
            {% else %}
              <td>{{ review.created_string }}</td>
            {% endif %}
          </div>
        </div>
        <div style="background-color:grey;" class="p-0 h-75">{{ review.content }}</div>
      </div>
      {% empty %}
      <p class="text-center">아직 리뷰가 없습니다. 리뷰를 남겨
        <b>{{ restaurant.restaurant_name }}</b>의 첫번째 리뷰를 남겨보세요.
      </p>
    {% endfor %}

    <!-- 페이지네이션 -->
    <div class="row">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!--</div>-->
  </container>
{% endblock content %}
