{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'restaurants/css/style.css' %}">
{% endblock css %}
{% block content %}
<container>
  {% if request.resolver_match.url_name == 'create' %}
  <h2 class="welcome_text">오늘도 맛있는 하루되세요!</h2>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="button">
      <!--{% bootstrap_button content='리뷰작성' button_type='submit' button_class="btn-primary" %}-->
      <a href="{% url 'restaurants:index' %}">
        <button class="cancel"><a href="{% url 'restaurants:index' %}">취소</a></button>
        <button type="submit" class="confirm">리뷰 작성하기</button>
    </div>
  </form>

  {% else %}
  <h2 class="welcome_text">오늘도 맛있는 하루되세요!</h2>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="button">
      <!--{% bootstrap_button content='수정하기' button_type='submit' button_class="btn-primary" %}-->
      <a href="{% url 'restaurants:index' %}">
        <button class="cancel"><a href="{% url 'restaurants:index' %}">취소</a></button>
        <button type="submit" class="confirm">수정하기</button>
    </div>
  </form>
  {% endif %}
</container>
{% endblock content %}