{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'restaurants/css/index.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
  {% for restaurant in restaurants %}
  <div class="a_restaurant">
    <div class="direction">
      <img src="https://cdn-icons-png.flaticon.com/512/5582/5582962.png" alt="위치 아이콘">
      <p>{{ restaurant.address }}</p>
    </div>
    <div class="r_img">
      {% if restaurant.image %}
      <img src="{{ restaurant.image.url }}" alt="음식점 썸네일 사진">
      {% else %}
      <img src="https://www.dummyimage.com/300X300/000/fff" />
      {% endif %}
    </div>
    <div class="hash">
      <a href="{% url 'restaurants:menu' %}">
        <p>#{{ restaurant.category }}</p>
      </a>
      <p>#{{ restaurant.price_avg }}</p>
      <p>#{{ restaurant.parking }}</p>
    </div>
    <div class="info_text">
      <p class="name">
        <a href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.restaurant_name }}</a>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}