{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'restaurants/css/main.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
  <!-- 상단 -->
  <div class="upper">
    <!--<p>솔직한 맛 평가</p>-->
    <p>솔직한 맛을 담은</p>
    <h1>오늘의 플레이트</h1>
  </div>

  <!-- 캐러셀-->
  <di class="row">
    <div class="col-9 px-1"><img src="{% static 'restaurants/img/main.jpg' %}" alt="" style="width: 100%;height:100%">
    </div>
    <div class="col-3 px-1">
      <div class="pb-2"><img src="{% static 'restaurants/img/main_side(1).jpg' %}" class="img-fluid" alt=""></div>
      <div class="pb-2"><img src="{% static 'restaurants/img/main_side(2).jpg' %}" class="img-fluid" alt=""></div>
      <div><img src="{% static 'restaurants/img/main_side(3).jpg' %}" class="img-fluid" alt=""></div>
    </div>
  </di>


  <!-- 인기 검색어 -->
  <div class="search_popular">
    <div class="popular_title">인기검색어</div>
    {% for w in s %}
    <div class="popular_word">
      <span class="hash_mark">#</span>
      <label for="search" class="css-xd55zv e1387oiq0" id="{{w.pk}}">{{ w.keyword }}</label>
    </div>
    {% endfor %}
  </div>


  <!--검색-->
  <form class="search" action="{% url 'restaurants:search' %}">
    <input class="input_form" type="search" placeholder="식당, 카테고리" name="search" aria-label="Search" id="search"
      required>
    <button class="button" type="submit"><img src="https://cdn-icons-png.flaticon.com/512/16/16492.png"
        alt="검색 아이콘"></button>
  </form>

  <!-- 카테고리 -->
  <p class="cate_p">오늘 먹을 음식은</p>
  <div class="food_cate">
    <form action="{% url 'restaurants:menu' %}">
      <button type="submit" class="a_menu">
        <img src="https://cdn-icons-png.flaticon.com/512/4480/4480784.png" alt="한식 카테고리">
        <p>한식</p>
        <input type="text" value="한식" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'restaurants:menu' %}">
      <button type="submit" class="a_menu">
        <img src="https://cdn-icons-png.flaticon.com/512/3511/3511307.png" alt="양식 카테고리">
        <p>양식</p>
        <input type="text" value="양식" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'restaurants:menu' %}">
      <button type="submit" class="a_menu">
        <img src="https://cdn-icons-png.flaticon.com/512/2548/2548242.png" alt="중식 카테고리">
        <p>중식</p>
        <input type="text" value="중식" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'restaurants:menu' %}">
      <button type="submit" class="a_menu">
        <img src="https://cdn-icons-png.flaticon.com/512/5391/5391971.png" alt="일식 카테고리">
        <p>일식</p>
        <input type="text" value="일식" class="category-value" name="category">
      </button>
    </form>
    <form action="{% url 'restaurants:menu' %}">
      <button type="submit" class="a_menu">
        <img src="https://cdn-icons-png.flaticon.com/512/7688/7688778.png" alt="기타 카테고리">
        <p>기타</p>
        <input type="text" value="기타" class="category-value" name="category">
      </button>
    </form>
  </div>

  <!--음식 그림-->
  <div class="random_menu">
    <div class="menu_p">
      <p>어떤 음식을 먹을지 고민 될 땐</p>

      <!--음식 섞기 -->
      <button id="shuffle-menu" class="random_button" type="button"><img
          src="https://cdn-icons-png.flaticon.com/512/2102/2102198.png" alt="랜덤 아이콘"></button>
      {% comment %}
      <script src="{% static 'restaurants/js/main.js' %}"></script>
      {% endcomment %}
    </div>
    <!-- 지역선택 -->
    <div class="random_food" id="random-food">
    </div>
  </div>


  <!-- 자바스크립트 -->
  <!-- 랜덤 음식 -->
  <script>
    const row = document.querySelector("#random-food");
    var foodsList = ["떡볶이.jpg", "삼겹살.jpg", "치킨.png", "피자.jpg", "김밥.jpg", '비빔밥.jpg', '죽.jpg', '칼국수.jpg', '물냉면.jpg', '짜장면.jpg', '짬뽕.jpg', '떡갈비.jpg', '갈비찜.jpg', '해물찜.jpg', '계란말이.jpg', '순대국.jpg', '감자탕.jpg',];
    temp(0);

    function temp(num) {
      var template = [];
      for (let i = 0; i < 5; i++) {
        var a = foodsList[(i + num) % foodsList.length];
        var url = "{% static 'restaurants/img/change' %}".replace("change", a);
        template.push(`<div class="col text-center"><img src="${url}" alt="" class="img-fluid"></div>`);
        row.insertAdjacentHTML("beforeend", template[i]);
      }
    }

    const shuffleMenu = document.querySelector("#shuffle-menu");
    shuffleMenu.addEventListener("click", () => {
      row.innerHTML = "";
      temp(Math.floor(Math.random() * (foodsList.length - 1 - 0) + 1));
    });
  </script>

  <!-- 캐러셀 -->
  <script>
    document.querySelector('.slide-2').addEventListener('click', () => {
      document.querySelector('.slide-container').style.transform = 'translateX(-100vw)'
      document.querySelector('.slide-2').classList.add('active')
      document.querySelector('.slide-1').classList.remove('active')
      document.querySelector('.slide-3').classList.remove('active')
    })
    document.querySelector('.slide-3').addEventListener('click', () => {
      document.querySelector('.slide-container').style.transform = 'translateX(-200vw)'
      document.querySelector('.slide-3').classList.add('active')
      document.querySelector('.slide-1').classList.remove('active')
      document.querySelector('.slide-2').classList.remove('active')
    })
    document.querySelector('.slide-1').addEventListener('click', () => {
      document.querySelector('.slide-container').style.transform = 'translateX(0vw)'
      document.querySelector('.slide-1').classList.add('active')
      document.querySelector('.slide-2').classList.remove('active')
      document.querySelector('.slide-3').classList.remove('active')
    })
  </script>

  <!-- 인기검색어 클릭 -->
  <script>
    const populars = document.querySelectorAll('.e1387oiq0');
    populars.forEach((el) => {
      el.addEventListener('click', (e) => {
        document.querySelector('#search').value = e.currentTarget.innerText
      })
    })
  </script>
</div>
{% endblock content %}







<!-- 캐러셀 실패작 -->
<!--{% comment %}
<script>
  var start = 0
  var clicking = false
  var slideBox = document.querySelectorAll('.slide-box')

  SlideBox(0)
  SlideBox(1)
  SlideBox(2)

  function SlideBox(num) {
    SlideBoxMouseDown(num)
    SlideBoxMouseMove(num)
    SlideBoxMouseUp(num)
  }

  function SlideBoxMouseDown(num) {
    slideBox[num].addEventListener('mousedown', (e) => {
      start = e.screenX
      clicking = true
    })
  }
  function SlideBoxMouseMove(num) {
    slideBox[num].addEventListener('mousemove', (e) => {
      if (clicking == true) {
        document.querySelector('.slide-container').style.transform = `translateX(${(-1) * (num * 100) + e.screenX - start}px)`
      }
    })
  }
  function SlideBoxMouseUp(num) {
    slideBox[num].addEventListener('mouseup', (e) => {
      clicking = false
      if (e.clientX - start < -100) {
        document.querySelector('.slide-container').style.transform = `translateX(-${((num + 1) * 100) % 300}vw)`
        document.querySelector('.slide-container').style.transition = 'all 0.5s'
      } else {
        document.querySelector('.slide-container').style.transform = `translateX(-${(num * 100) % 300}vw)`
        document.querySelector('.slide-container').style.transition = 'all 0.5s'
      }
      setTimeout(() => {
        document.querySelector('.slide-container').style.transition = 'none'
      }, 500)
    })
  }
    
  </scrip > {% endcomment %}-->