{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'restaurants/css/main.css' %}">
{% endblock css %}

{% block content %}
  <div class="row">
    <p class="title">솔직한 맛 평가</p>
    <h1 class="title">오늘의 플레이트</h1>
    
    <!-- 캐러셀-->
    <div id="carouselExampleIndicators" class="carousel slide p-0" style="overflow: hidden;" data-bs-ride="carousel">
      <div class="slide-container">
        <div class="slide-box"><img src="http://placeimg.com/200/200/nature" draggable="false" class="img-fluid"></div>
        <div class="slide-box"><img src="http://placeimg.com/200/200/natures" draggable="false" class="img-fluid"></div>
        <div class="slide-box"><img src="http://placeimg.com/200/200/future" draggable="false" class="img-fluid"></div>
      </div>
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="slide-1 active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="slide-2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="slide-3" aria-label="Slide 3"></button>
      </div>
    </div>

    

    <!--검색-->
    <fieldset class="main-search">
      <legend>전체 검색</legend>
      <label class="search-word" for="main-search">
        <span class="icon">검색 :</span>
        <input id="main-search" class="HomeSearchInput" name="main-search" type="text" maxlength="50" placeholder="지역, 식당 또는 음식" autocomplete="off" onclick="trackEvent('CLICK_SEARCH_MAIN')">
        <span class="clear_btn">CLEAR</span>
      </label>
      <input class="btn-search" type="submit" value="검색" onclick="trackEvent('CLICK_KEYWORD_SEARCH');">
    </fieldset>
  </div>

  <!--카테고리-->
  <div class="row">
    <div class="col">
      <a href="/store?affect_type=Home&amp;affect_id=0">
        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=144" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=144 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=180 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=360 3x" class="e1387oiq1 css-1511w17">
        <span class="css-xd55zv e1387oiq0">중식</span></a>
    </div>
    <div class="col">
      <a href="/store?affect_type=Home&amp;affect_id=0">
        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=144" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=144 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=180 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/shortcut/home_feed_shortcut_sets/166485672496321483.png?w=360 3x" class="e1387oiq1 css-1511w17">
        <span class="css-xd55zv e1387oiq0">양식</span></a>
    </div>
  </div>

  <!--음식 그림-->
  <div class="row">
    <h3 class="title">끌리는 음식</h3>
    <!-- 지역선택 -->
    <div class="row row-cols-4" id="random-food">
    </div>
  </div>

  <!--더 보기 -->
  <button id="shuffle-menu" class="btn btn-primary" type="button">다른 메뉴 보기</button>
  {% comment %} <script src="{% static 'restaurants/js/main.js' %}"></script>  {% endcomment %}

  <!-- 랜덤 음식 -->
  <script>
    const row = document.querySelector("#random-food");
    var foodsList = ["ricecake.jpg", "삼겹살.jpg", "치킨.png", "피자.jpg"];
    temp(0);

    function temp(num) {
        var template = [];
        for (let i = 0; i < 4; i++) {
            var a = foodsList[(i + num) % 4];
            var url = "{% static 'restaurants/img/change' %}".replace("change", a);
            template.push(`<div class="col text-center"><img src="${url}" alt="" class="img-fluid rounded-pill"></div>`);
            row.insertAdjacentHTML("beforeend", template[i]);
        }
    }

    const shuffleMenu = document.querySelector("#shuffle-menu");
    shuffleMenu.addEventListener("click", () => {
        row.innerHTML = "";
        temp(Math.floor(Math.random() * (3 - 0) + 1));
    });
  </script>

  <!-- 캐러셀 -->
  <script>
    document.querySelector('.slide-2').addEventListener('click',()=>{
      document.querySelector('.slide-container').style.transform = 'translateX(-100vw)'
      document.querySelector('.slide-2').classList.add('active')
      document.querySelector('.slide-1').classList.remove('active')
      document.querySelector('.slide-3').classList.remove('active')
  })
  document.querySelector('.slide-3').addEventListener('click',()=>{
      document.querySelector('.slide-container').style.transform = 'translateX(-200vw)'
      document.querySelector('.slide-3').classList.add('active')
      document.querySelector('.slide-1').classList.remove('active')
      document.querySelector('.slide-2').classList.remove('active')
  })
  document.querySelector('.slide-1').addEventListener('click',()=>{
      document.querySelector('.slide-container').style.transform = 'translateX(0vw)'
      document.querySelector('.slide-1').classList.add('active')
      document.querySelector('.slide-2').classList.remove('active')
      document.querySelector('.slide-3').classList.remove('active')
  })
  </script>
  {% comment %} <script>
    var start = 0
    var clicking = false
    var slideBox = document.querySelectorAll('.slide-box')

    SlideBox(0)
    SlideBox(1)
    SlideBox(2)

    function SlideBox(num) {
        SlideBoxMouseDown(num)
        SlideBoxMouseMove(num)
        SlideBoxMouseUp(num)
      }
    
    function SlideBoxMouseDown(num) {
      slideBox[num].addEventListener('mousedown',(e)=>{
        start = e.screenX
        clicking = true
      })
    }
    function SlideBoxMouseMove(num){
      slideBox[num].addEventListener('mousemove',(e)=>{
          if (clicking == true) {
              document.querySelector('.slide-container').style.transform = `translateX(${(-1)*(num*100)+e.screenX - start}px)`
          }
      })
    }
    function SlideBoxMouseUp(num) {
      slideBox[num].addEventListener('mouseup',(e)=>{
          clicking = false
          if (e.clientX - start < -100){
              document.querySelector('.slide-container').style.transform = `translateX(-${((num+1)*100)%300}vw)`
              document.querySelector('.slide-container').style.transition = 'all 0.5s'
          } else {
              document.querySelector('.slide-container').style.transform = `translateX(-${(num*100)%300}vw)`
              document.querySelector('.slide-container').style.transition = 'all 0.5s'
          }
          setTimeout(()=>{
              document.querySelector('.slide-container').style.transition = 'none'
          }, 500)
      })  
    }
    
  </scrip> {% endcomment %}
{% endblock content %}
