{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'restaurants/css/menu.css' %}">
{% endblock css %}
{% block content %}
  <container>
    <div class="food_cate">
      <form action="{% url 'restaurants:menu' %}">
        <button type="submit" class="a_menu">
          <img src="https://cdn-icons-png.flaticon.com/512/4480/4480784.png" alt="한식 카테고리">
          <p>한식</p>
          <input type="text" value="한식" class="category-value" name="category">
        </button>
      </form>
      <form action="{% url 'restaurants:menu' %}">
        <button type="submit" class="a_menu">
          <img src="https://cdn-icons-png.flaticon.com/512/3511/3511307.png" alt="양식 카테고리">
          <p>양식</p>
          <input type="text" value="양식" class="category-value" name="category">
        </button>
      </form>
      <form action="{% url 'restaurants:menu' %}">
        <button type="submit" class="a_menu">
          <img src="https://cdn-icons-png.flaticon.com/512/2548/2548242.png" alt="중식 카테고리">
          <p>중식</p>
          <input type="text" value="중식" class="category-value" name="category">
        </button>
      </form>
      <form action="{% url 'restaurants:menu' %}">
        <button type="submit" class="a_menu">
          <img src="https://cdn-icons-png.flaticon.com/512/5391/5391971.png" alt="일식 카테고리">
          <p>일식</p>
          <input type="text" value="일식" class="category-value" name="category">
        </button>
      </form>
      <form action="{% url 'restaurants:menu' %}">
        <button type="submit" class="a_menu">
          <img src="https://cdn-icons-png.flaticon.com/512/7688/7688778.png" alt="기타 카테고리">
          <p>기타</p>
          <input type="text" value="기타" class="category-value" name="category">
        </button>
      </form>
    </div>

    <h2>{{ category }}</h2>
    <div class="restaurants">
      {% for restaurant in restaurants %}
        <div class="img-text-box">
          <p id="img-text">{{ restaurant.restaurant_name }}</p>
          {% if restaurant.image %}
            <img src="{{ restaurant.image.url }}" alt="음식점의 음식 사진">
          {% else %}
            <img src="https://www.dummyimage.com/300X300/000/fff"/>
          {% endif %}
        </div>
      {% endfor %}

    </div>
    <div class="more">
      <button type="button">더보기</button>
    </div>
  </container>
{% endblock %}