{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'restaurants/css/search.css' %}">
{% endblock css %}
{% block content %}
<div class= "col-3 my-2 p-1 border border-2 border-warning rounded">
  <h5>검색어 :
    {{ search }}</h5>
    최근 검색어 : {% for h in s %}
    <span style="background-color: #ffeb7c; font: black"  class="badge">#{{ h.keyword }}</span>
  {% endfor %}
</div>
  <div class="row row-cols-2 row-cols-lg-3 g-5">
    {% for restaurant in search_lists %}
      <div class="col a_restaurant">
        <div class="direction">
          <img src="https://cdn-icons-png.flaticon.com/512/4519/4519622.png" alt="위치 아이콘">
          <p>{{ restaurant.address }}</p>
        </div>
        <div class="r_img">
          {% if restaurant.image %}
            <img src="{{ restaurant.image.url }}" alt="음식점의 음식 사진">
          {% else %}
            <img src="https://www.dummyimage.com/300X300/000/fff"/>
          {% endif %}
        </div>
        <!-- 실제 해시로 변경 -->
        <div class="hash">
          <p>#양식</p>
          <p>#사람들이_많이_찾는</p>
          <p>#패스트_푸드</p>
        </div>
        <div class="info_text">
          <p class="name">
            <a href="{% url 'restaurants:detail' restaurant.pk %}">{{ restaurant.restaurant_name }}</a>
          </p>
          <!--<p class="total_view">3,234 view</p>-->
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
