{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{{user}}님의 회원정보</h1>
  {% if request.user.pk == user.pk %}
    <h2>
      <a href="{% url 'accounts:profile' %}">프로필사진 설정</a>
    </h2>
  {% endif %}
  <h2>북마크한 음식점</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">restaurant_name</th>
        <th scope="col">address</th>
        <th scope="col">menu</th>
      </tr>
    </thead>
    {% for like_restaurant in like_restaurants %}
      <tbody>
        <tr>
          <th scope="row">
            <a href="{% url 'restaurants:detail' like_restaurant.pk %}">{{ like_restaurant.restaurant_name}}</a>
          </th>
          <td>{{ like_restaurant.address}}</td>
          <td>{{ like_restaurant.menu}}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <h2>작성한 댓글</h2>

  <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'accounts:index' %}' ">돌아가기</button>
{% endblock content %}