@charset "utf-8";

/* 레스토랑 제일 바깥 템플릿 */
.a_restaurant {
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: -7px 7px 5px #e2e2e2;
}


/* 상단 위치 정보 */
.direction {
    display: flex;
    flex-flow: row;
    margin: 0.5rem 0.2rem;
}

.direction img {
    filter: opacity(0.6) drop-shadow(0 0 0 #fbff0c);
    height: 5.3%;
    width: 5.3%;
}

.direction p {
    font-size: 0.8rem;
    margin: 0 0 0 0.3rem;
}


/* 음식점 이미지 */
.r_img img {
    height: 19rem;
    object-fit: cover;
    width: 100%;
}

.hash {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.7rem;
}

.hash p {
    background-color: #e2e2e2;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.1rem 0.5rem;
    padding: 0.2rem 0.5rem;
}

.info_text {
    margin: 0.5rem 0.5rem 1.5rem;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
}

.name a {
    color: #2d2d2d;
    text-decoration: none;
}

.name a:hover {
    color: #909090;
}

.total_view {
    font-size: 0.9rem;
}