@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");

.food_cate {
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: space-around;
    margin: 5rem 0 2rem 0;
    width: 100%;
}

.food_cate a {
    color: inherit;
    text-decoration: none;
}

.a_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    background: white;
}

.a_menu img {
    height: 5rem;
}

.a_menu p {
    text-align: center;
}

.category-value {
    display: none;
}

.restaurants {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 1rem 0;
}

.restaurants img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.more {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

#img-text {
    color: white;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all 0.75s ease;
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}

.img-text-box:hover #img-text {
    opacity: 1;
}

.img-text-box:hover {
    background: black;
    transition: all 0.75s ease;
    opacity: 50%;
}

.img-text-box {
    transition: all 0.75s ease;
    position: relative;
    width: 300px;
    height: 300px;
}
