@charset "utf-8";

/* CSS Document */
/*detail.html */
.r_info {
    margin-top: 3rem;
}

.r_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.r_header h1 {
    font-weight: 600;
}

.detailed_info {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.detailed_info img {
    width: 1.2rem;
    height: 1.2rem;
}

.people_views {
    display: flex;
    align-items: center;
}

.people_views p {
    margin-left: 0.5rem;
}

table {
    margin-bottom: 5rem;
}

table th {
    color: #666666;
    font-weight: 200;
    width: 8rem;
    height: 2rem;
}

/* forms.html */
.welcome_text {
    font-weight: 600;
    margin: 2rem 0 3.4rem;
}

form {
    color: #434343;
    font-weight: 600;
}

.button {
    font-weight: 600;
}

.cancel {
    background-color: #e2e2e2;
    border: 0;
    border-radius: 12px;
    margin-top: 0.3rem;
    margin-right: 1rem;
    padding: 0.6rem 0.7rem;
    width: 10rem;
}

.cancel a {
    color: black;
    text-decoration: none;
}

.cancel a:hover {
    color: black;
}

.confirm {
    background-color: #434343;
    border: 0;
    border-radius: 12px;
    color: white;
    margin-top: 0.3rem;
    padding: 0.6rem 0.7rem;
    width: 10rem;
}
