@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* 어서오세요! */
.title {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 4rem auto 1.5rem;
    width: 60%;
}

/* 폼 폭 조절 */
.form {
    color: #434343;
    margin: auto;
    width: 60%;
}

/* 폼 간격 조절 + 이름 진하게 */
.form-label {
    font-weight: 600;
    margin-top: 1rem;
}


/* 제출 버튼 조절 */
.login {
    background-color: #666666;
    border: none;
    border-radius: 2rem;
    color: white;
    margin-top: 1.5rem;
    padding: 0.7rem 1rem;
}


/* 제출 버튼 색 변경 */
.login:hover {
    background-color: #ffa704;
}

.new {
    background-color: none;
    border: 0 #666666;
    border-radius: 2rem;
    margin: 1.5rem 0 0 1.7rem;
    padding: 0.7rem 1rem;
}

.new:hover {
    background-color: #adadad;
    border: none;
    border-radius: 2rem;
    color: white;
    margin-top: 1.5rem;
    padding: 0.7rem 1rem;
}