@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

/* 프로필 사진 */
.title {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 4rem auto 2rem;
    width: 60%;
}


/* test */
.profile {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 60%;
}


/* 폼 간격 조절 */
.form {
    align-items: center;
    justify-content: center;
    margin: 9rem auto;
    position: absolute;
    width: 60%;
}

#id_image {
    border-radius: 20rem;
    height: 10rem;
    opacity: 100;
    position: absolute;
    width: 10rem;
    background-color: red;
}

.upload_icon {
    width: 5rem;
}